@import url('/home/${USER}/.cache/wal/colors-waybar.css');

.bar {
    padding: 3px 15px 3px 15px;
    background-color: rgba(0,0,0,0);
}

.button {
    border-radius: 100px;
    min-width: 10px;
    min-height: 10px;
    background-color: rgba(50, 50, 50, 0.4);
    border: none;
}

.active {
    transition: 0.3s;
    border-radius: 100px;
    min-width: 10px;
    min-height: 10px;
    background-color: @theme_fg_color;
    border: none;
}

.focused {
    transition: 0.3s;
    border-radius: 100px;
    background-color: @color1;
    min-height: 10px;
    border: none;
}

.modules-left {
    padding: 15px 0 15px 0;
}

.clock, .music {
    font-weight: 700;
}