@import url('/home/${USER}/.cache/wal/colors-waybar.css');

* {
    transition: .3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Symbols Nerd Font Mono";
}

window {
    background: rgba(0,0,0,0);
}

.bar {
    padding: 3px 15px 3px 15px;
}

.button {
    border-radius: 100px;
    min-width: 10px;
    min-height: 10px;
    background-color: rgba(50, 50, 50, 0.4);
    border: none;
}

.active {
    transition: 0.3s;
    border-radius: 100px;
    min-width: 10px;
    min-height: 10px;
    background-color: @theme_fg_color;
    border: none;
}

.focused {
    transition: 0.3s;
    border-radius: 100px;
    background-color: @color1;
    min-height: 10px;
    border: none;
}

.modules-left {
    padding: 15px 0 15px 0;
}

.clock, .music {
    font-weight: 700;
}

.cpu-widget, .ram-widget, .swap-widget {
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 100px;
}

.poweroff, .reboot, .suspend, .hibernate, .lock, .uwu {
    border: none;
    background-color: rgba(50, 50, 50, 0.8);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 20px 15px;
}

.poweroff {
    background-image: url('./icons/shutdown.png');
}

.reboot {
    background-image: url('./icons/reboot.png');
}

.suspend {
    background-image: url('./icons/suspend.png');
}

.hibernate {
    background-image: url('./icons/hibernate.png');
}

.lock {
    background-image: url('./icons/lock.png');
}

.poweroff:hover, .reboot:hover, .suspend:hover, .hibernate:hover, .lock:hover, .uwu:hover {
    margin-left: 25px;
    background-color: @color3;
}

.logout-image {
    border-radius: 20px;
}

window {
    border-radius: 20px;
}

.logout {
    padding: 25px;
    border-radius: 20px;
}

.button-label {
    margin-left: 25px;
}

.right-bar {
    margin-right: 10px;
    background-color: @theme_bg_color;
    border-radius: 26px;
    padding: 20px;
}

.tool-button-wifi, .tool-button-bluetooth, .tool-button-speaker, .tool-button-battery, .tool-button-settings {
    border: none;
    border-radius: 100px;
}

.tools {
    background-color: green;
    padding: 10px;
    border-radius: 1000px;
}

.notification-cell {
    padding: 5px 10px 5px 10px;
}

.notification-cell-label-summary {
    font-weight: 800;
}