ags/types
ags/tsconfig.json
ags/README.md
ags/build/
ags/example/
ags/nix/
ags/node_modules/
ags/src/
ags/subprojects/
ags/LICENSE
ags/version
ags/meson.build
ags/package-lock.json
ags/package.json
ags/flake.lock
ags/CHANGELOG.md
ags/TODO.md
ags/flake.nix
ags/post_install.sh
ags/meson_options.txt
ags_v2/@girs/
ags_v2/tsconfig.json
ags_v2/style.scss
ags_v2/env.d.ts
wallappers/wallapper
wallappers/ags
wallappers/dark
wallappers/opacity