/* ////////////////////////////////////////////////////////////////////////////////////////////// */

@import url('/home/nptanphuc/.cache/wal/colors.css');
@import url('/home/nptanphuc/.cache/wal/std-materialyoucolor-python.css');

:root {
    --custom-transition-time: 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --custom-background-color: var(--onSecondaryFixed);
        --custom-content-background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --custom-background-color: var(--secondaryContainer);
        --custom-content-background-color: rgba(255, 255, 255, 0.1);
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#urlbar-background, #nav-bar, #browser, #tabbrowser-tabpanels, #TabsToolbar,
#sidebar-box, #sidebar, .sidebar-panel, #sidebar-search-container, #search-box, #search-box-input,
#statuspanel-label {
    background-color: var(--custom-background-color) !important;
}

#urlbar:not([open]) .urlbar-input-container, .tab-background:not(:not([selected])),
#tabs-newtab-button:hover {
    background-color: var(--custom-content-background-color) !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .4) !important;
}

#tabs-newtab-button:hover .toolbarbutton-icon[type="menu"] {
    background-color: transparent !important;
}

#urlbar:not([open]) .urlbar-input-container {
    border-radius: 20px !important;
}

.tab-background, .toolbarbutton-icon, .toolbarbutton-badge-stack, #tabs-newtab-button {
    border-radius: 12px !important;
}

#toolbar-menubar,
#firefox-view-button, #alltabs-button, #new-tab-button,
#sidebar-splitter,
.tab-icon-sound-label,
label[data-l10n-id="private-browsing-indicator-label"],
#save-to-pocket-button,
.TabsToolbar-buttonbox-container,
#scrollbutton-up, #scrollbutton-down,
spacer[part="overflow-start-indicator"], spacer[part="overflow-end-indicator"],
#PersonalToolbar,
#identity-box.extensionPage #identity-icon-labels,
#identity-box.extensionPage #identity-icon-label,
#identity-box.extensionPage:hover #identity-icon-labels,
#identity-box.extensionPage:hover #identity-icon-label,
#main-window[sizemode="fullscreen"] #navigator-toolbox,
.titlebar-buttonbox-container {
    display: none !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#private-browsing-indicator-with-label {
    height: 44px !important;
    transition: var(--custom-transition-time) !important;
}

#TabsToolbar:hover #private-browsing-indicator-with-label {
    height: 300px !important;
}

.private-browsing-indicator-icon {
    rotate: -90deg !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#TabsToolbar {
    position: absolute !important;
    z-index: 10 !important;
    rotate: 90deg !important;
    transform-origin: left bottom;
    width: calc(100vh - 62px) !important;
    height: 44px !important;
    transition: var(--custom-transition-time) !important;
    bottom: -10px;
    border: none !important;
}

#TabsToolbar:hover {
    height: 310px !important;
    padding-top: 10px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#tabbrowser-tabs {
    border: none !important;
    padding: 0 !important;
    rotate: -90deg !important;
    transform-origin: left top !important;
    margin-bottom: -44px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    max-width: 44px !important;
    transition: var(--custom-transition-time);
}

#TabsToolbar:hover #tabbrowser-tabs {
    max-width: 300px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

scrollbox[part="scrollbox"] {
    overflow-y: scroll !important;
    height: calc(100vh - 60px) !important;
    scrollbar-width: none !important;
}

scrollbox[part="scrollbox"] * {
    display: flex !important;
    flex-direction: column !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.tabbrowser-tab {
    flex: 0 !important;
    min-width: 40px !important;
    transition: var(--custom-transition-time) !important;
    margin-top: -3px !important;
}

.tab-background {
    min-height: 40px !important;
    box-shadow: none !important;
}

#TabsToolbar:hover .tabbrowser-tab {
    min-width: 300px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.tab-content {
    padding: 0 10px 0 0 !important;
}

.tab-label-container, .tab-close-button {
    opacity: 0 !important;
    transition: var(--custom-transition-time) !important;
}

#TabsToolbar:hover .tab-label-container,
#TabsToolbar:hover .tab-close-button {
    opacity: 1 !important;
}

.tab-icon-stack {
    min-width: 40px !important;
    width: 40px !important;
}

.tab-icon-overlay {
    width: 20px !important;
    height: 20px !important;
    margin-left: 24px !important;
    transition: var(--custom-transition-time) !important;
}

#TabsToolbar:hover .tab-icon-overlay {
    opacity: 1 !important;
}

.tab-icon-image {
    height: 40px !important;
    width: 40px !important;
    opacity: 1 !important;
    transform: scale(0.55);
}

.tab-throbber {
    margin-left: 12px !important;
}

#TabsToolbar:hover #tabbrowser-arrowscrollbox-periphery {
    width: 298px !important;
}

#tabs-newtab-button {
    display: flex !important;
    width: 40px !important;
    margin-left: 2px !important;
    transition: var(--custom-transition-time) !important;
    height: 40px !important;
    margin-top: 1px !important
}

#TabsToolbar:hover #tabs-newtab-button {
    width: 300px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#sidebar-box {
    position: absolute;
    z-index: 40000;
    height: calc(100vh - 62px) !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#navigator-toolbox {
    height: 52px !important;
    display: flex !important;
    justify-content: center !important;
    border: 10px solid var(--custom-background-color) !important;
    z-index: 100 !important;
}

#nav-bar {
    border: none !important;
    padding: none !important;
}

toolbarspring {
    flex: 20 !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#urlbar-background, #urlbar {
    border-radius: 20px !important;
}

#urlbar:not(:not([focused])) > #urlbar-background,
#searchbar:focus-within {
    outline: none !important;
}

#urlbar-input {
    text-align: center !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#browser {
    padding: 0px 10px 10px 64px;
}

#tabbrowser-tabbox *{
    border-radius: 16px !important;
}

/* #browser:active #sidebar{
    visibility: collapse !important;
} */

#main-window[sizemode="fullscreen"] #browser {
    padding: 0 !important;
}

#main-window[sizemode="fullscreen"] #tabbrowser-tabbox * {
    border-radius: 0 !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#statuspanel-label {
    border-radius: 0 !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    padding: 2px 10px 2px 10 !important;
}
