@media (prefers-color-scheme: dark) {
    :root {
        --custom-background-color: #1C1B22;
        --custom-content-background-color: #312f3d;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --custom-background-color: #F0F0F4;
        --custom-content-background-color: #ffffff;
    }
}

#nav-bar, #browser, #tabbrowser-tabpanels, #titlebar,
#sidebar-box, #sidebar, .sidebar-panel, #sidebar-search-container, #search-box, #search-box-input {
    background-color: var(--custom-background-color) !important;
}

#urlbar-background, .tab-background:not(:not([selected])) {
    background-color: var(--custom-content-background-color) !important;
}

#navigator-toolbox {
    border: 5px solid var(--custom-background-color) !important;
}

#titlebar {
    position: absolute !important;
    z-index: 10 !important;
    rotate: 90deg !important;
    transform-origin: left bottom;
    width: calc(100vh - 60px) !important;
    height: 44px !important;
    background-color: var(--custom-background-color) !important;
    transition: 0.3s;
    bottom: calc(100vh - 50px) !important;
}

/* #titlebar:hover {
    height: 300px !important;
} */

.tab-icon-stack {
    margin-left: 2px !important;
}

.tab-label-container, .tab-close-button, #firefox-view-button, #alltabs-button {
    display: none !important;
}

#tabbrowser-tabs {
    border: none !important;
    padding: none !important
}

.tab-background, .toolbarbutton-icon, .toolbarbutton-badge-stack {
    border-radius: 12px !important;
}

.tabbrowser-tab {
    flex: 0 !important;
    rotate: -90deg !important;
    min-width: 40px !important;
}

#sidebar-box {
    width: 0px !important;
    min-width: 0px !important;
    border: none !important;
    padding: none !important;
    position: relative;
    z-index: 1;
}

#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar{
    min-width: 300px !important;
}

#sidebar-header, #sidebar-splitter {
    display: none !important;
}

#navigator-toolbox {
    height: 50px !important;
    display: flex !important;
    justify-content: center !important;
}

#urlbar-background, #urlbar {
    border-radius: 20px !important;
}

#identity-box.extensionPage #identity-icon-labels,
#identity-box.extensionPage #identity-icon-label {
    display: none !important;
}

#identity-box.extensionPage:hover #identity-icon-labels,
#identity-box.extensionPage:hover #identity-icon-label {
    display: none !important;
}

#urlbar-input {
    text-align: center !important;
}

#urlbar:not(:not([focused])) > #urlbar-background,
#searchbar:focus-within {
    outline: none !important;
}

toolbarspring {
    flex: 20 !important;
}

#browser {
    padding: 0px 10px 10px 54px;
}

#tabbrowser-tabbox *{
    border-radius: 16px !important;
}

#main-window[sizemode="fullscreen"] #browser {
    padding: 0 !important;
}

#main-window[sizemode="fullscreen"] #tabbrowser-tabbox * {
    border-radius: 0 !important;
}

#main-window[sizemode="fullscreen"] #navigator-toolbox {
    display: none !important;
}