/* START OF BASIC.H */
@import url('/home/nptanphuc/.cache/wal/colors-waybar.css');
@import url('/home/nptanphuc/.cache/wal/rgb-colors.css');

* {
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Symbols Nerd Font Mono";
}
/* END OF BASIC.H */

/* START OF BAR_BASIC.H */

window.Bar {
    background-color: @color0-rgba;
    color: @color15;
    font-weight: 600;
}

.modules-left, .modules-right {
    margin: 0 15px 0 15px;
}

/* END OF BAR_BASIC.H */

/* START OF BAR_WORKSPACES.H */

.workspaces {
    border-radius: 100px;
    padding: 8px;
    /* font-size: 0px; */
    margin: 6px;
    background-color: rgba(255, 255, 255, .1);
}

.workspaces button {
    min-height: 0px;
    min-width: 6px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    border: none;
}

.workspaces .active {
    background-color: @color15;
}

.workspaces .focused {
    background-color: rgba(255, 255, 255, .1);
    min-width: 30px;
}

.workspaces .empty:hover, .workspaces .active:hover{
    min-width: 30px;
}

.workspaces .focused_and_active {
    background-color: @color15;
    min-width: 30px;
    border: none;
}

/* END OF BAR_WORKSPACES.H */

/* START OF BAR_WINDOW.H */

.window_class {
    font-size: 14px;
}

.window_title {
    font-size: 15px;
    font-weight: 800;
    margin-top: -3px;
}

/* END OF BAR_WINDOW.H */

/* START OF BAR_CLOCK.H */

.clock {
    margin: 6px;
    border-radius: 100px;
    padding: 0 8px 0 8px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    font-size: 14px;
}

.time-time {
    font-weight: 800;
}

/* END OF BAR_CLOCK.H */

/* START OF BAR_MEDIA.H */

.media {
    margin: 6px;
    border-radius: 100px;
    padding: 0 8px 0 8px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    font-size: 14px;
}

.media-title {
    font-weight: 800;
}

/* END OF BAR_MEDIA.H */