@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Symbols Nerd Font Mono";
    font-weight: 600;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#workspaces {
    padding: 13px 0 13px 20px;
}

#workspaces button {
    border: none;
    background: @foreground;
    border-radius: 100px;
    transition: 0.3s;
    min-width: 0;
    min-height: 0;
    font-size: 0;
}

#workspaces button.empty {
    background-color: rgba(192, 192, 192, 0.3);
}

#workspaces button:hover, #workspaces button.active, #workspaces button.empty:hover {
    min-width: 20px;
}

#workspaces button:not(:first-child) {
    margin-left: 5px;
}

#network, #pulseaudio, #battery {
    padding: 0 7px 0 7px;
    font-size: 18px;
}

#pulseaudio {
    padding: 0px 20px 0 7px;
}
