@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-weight: 600;
}

window#waybar {
    background-color: @color0;
    color: @foreground;
}

.modules-left, .modules-right, .modules-center {
    padding: 5px;
    border-radius: 100px;
}

#workspaces button {
    background-color: @color4;
    color: @background;
    border-radius: 100%;
    border: none;
    transition: 0.3s;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    border: none;
    background-color: @color4;
    color: white;
}

#workspaces button.active, #workspaces button.active:hover {
    background-color: @color4;
    color: @background;
    min-width: 40px;
    border-radius: 100px;
}

#workspaces button.empty {
    background-color: @color15;
    color: @background;
}

#workspaces button.empty:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
    border: none;
    background-color: @color4;
    color: white;
}

#workspaces button:not(:first-child) {
    margin-left: 5px;
}

#clock, #network, #cpu, #memory, #pulseaudio, #custom-applauncher, #custom-powers, #custom-colorpicker {
    padding: 0 13px 0 10px;
    border-radius: 100px;
    transition: 0.3s;
}

#custom-applauncher:hover, #custom-powers:hover, #pulseaudio:hover, #custom-colorpicker:hover {
    background-color: @foreground;
    color: @background;
}

#custom-applauncher {
    margin-left: 10px;
}

#pulseaudio {
    margin-right: 10px;
}

#custom-colorpicker {
    padding: 0 14px 0 8px;
    border-radius: 100px;
    transition: 0.3s;
    margin-right: 5px;
}
