<<<<<<< HEAD
@import url('/home/nptanphuc/Personalization/type4.css');
=======
@import '/home/nptanphuc/.cache/wal/colors-waybar.css';
@import url('/home/nptanphuc/.cache/wal/materialyoucolor-python.css');
>>>>>>> a10c0eddef0068628cdc6810a726e6df384075bd

window {
    margin: 0px;
    background-color: alpha(@onSecondaryFixed, 0.8);
    border: 1px solid @primaryFixedDim;
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    font-weight: bold;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    min-height: 30px;
<<<<<<< HEAD
    border: @onSecondaryFixed solid 2px;
=======
    border: @foreground solid 2px;
>>>>>>> a10c0eddef0068628cdc6810a726e6df384075bd
    background-color: alpha(@primaryFixedDim, 0.3);
    color: @onPrimaryFixedDim;
}

#input:focus {
<<<<<<< HEAD
    border: @onSecondaryFixed solid 2px;
}

#selected {
=======
    border: @color4 solid 2px;
}

#selected {
    /* background-color: red; */
>>>>>>> a10c0eddef0068628cdc6810a726e6df384075bd
    border-radius: 15px;
    border: none;
}

#inner-box {
    margin: 4px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0 15px 0 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#text {
    margin-left: 10px;
    color: @secondaryFixed;
}

#text:selected {
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    margin: 3px;
    padding: 5px 5px 5px 10px;
}

#entry:selected {
<<<<<<< HEAD
=======
    /* background-color: alpha(@onSecondaryFixed, 0.32); */
>>>>>>> a10c0eddef0068628cdc6810a726e6df384075bd
    background-color: alpha(@secondaryFixed, 0.3);
}

#img {
    background-color: transparent;
}
